.toDoItem {
  margin-top: 0.5rem;
  display: flex;
  text-align: justify;
  align-items: center;
}
.toDoItem li {
  padding-left: 0.5rem;
  margin-right: 1rem;
}
.toDoItem button {
  background-color: black;
  border: none;
  border-radius: 3px;
  padding: 0.15rem 0.5rem;
  color: white;
}
.toDoItem button:hover {
  background-color: rgb(54, 54, 54);
}
